.nav{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    z-index: 0;
    margin-left: 2rem;

}

.search_input{
    padding: 1rem 2rem;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 2rem;
    border-radius: 5px;
    position: relative;
    width: 20rem;
}

.nav_icons{
    font-size: 2rem;
    margin-left: 2rem;

}